
#translation{
	font-weight: bold;
	font-size: 2em;
}

#overviewTable{
	width: 90%;
	max-width: 400px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}

#overviewContainer{
	text-align: center;
}

.ui-btn{
	padding: 1em 3em;
}
